<ul class="nav justify-content-start grey lighten-4 py-4">
  <li class="nav-item">
    <a routerLink="/personal" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
       data-toggle="tab"
       title="personal">
                <span class="round-tabs one">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
    </a>
  </li>

  <li class="nav-item navigation_carret">
    <a class="nav-link">
      <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
  </li>

  <li class="nav-item">
    <a routerLink="/employment" class="nav-link" routerLinkActive="active" data-toggle="tab" title="work">
                <span class="round-tabs two">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                </span>
    </a>
  </li>

  <li class="nav-item navigation_carret">
    <a class="nav-link">
      <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
  </li>

  <li class="nav-item">
    <a routerLink="/bank" class="nav-link" routerLinkActive="active" data-toggle="tab" title="work">
                <span class="round-tabs three">
                    <i class="fa fa-university" aria-hidden="true"></i>
                </span>
    </a>
  </li>

  <li class="nav-item navigation_carret">
    <a class="nav-link">
      <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
  </li>

  <li class="nav-item">
    <a routerLink="/particulars" class="nav-link" routerLinkActive="active" title="address">
                <span class="round-tabs four">
                    <i class="fa fa-list-ol" aria-hidden="true"></i>
                </span>
    </a>
  </li>

  <li class="nav-item navigation_carret">
    <a class="nav-link">
      <i class="fa fa-caret-right" aria-hidden="true"></i>
    </a>
  </li>

  <li class="nav-item">
    <a routerLink="/confirm" class="nav-link" routerLinkActive="active" data-toggle="tab" title="completed">
                <span class="round-tabs five">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                </span>
    </a>
  </li>
</ul>

